
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script type="text/javascript" src="https://itexpress.vn/js/noel_red.js"></script> 
<div class="label"></div>
<div class="py-5 container__custom">
    <div class="row" id="renderSearch">
        <div class="main-content">
            <div class="content-page">
                <div data-aos="fade-up" data-aos-duration="1000">
                    <h3 class="text-center font-weight-bold">TỔNG QUAN VỀ CÔNG TY</h3>
                    <p class="text-center pb-5">“Shop quần áo Josh chuyên sản xuất và phân phối sản phẩm thời trang nam nữ cao cấp tại Việt Nam với hệ thống cửa hàng thương hiệu Josh-Mark. Không những tại thị trường nội địa, Josh còn mở rộng hợp tác, cung cấp sản phẩm cho thị trường Nhật Bản, Châu Âu và phát triển thương hiệu thời trang tại các nước khác trên thế giới”</p>
                </div>
                <div class="row bg-white">
                    <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-right" data-aos-duration="500">
                        <div class="text-center text-justify">
                            <p>Sau gần 21 năm thành lập và phát triển, Shop quần áo Josh đã không ngừng cải tiến quy trình, nâng cao chất lượng sản phẩm, xây dựng hệ thống quản lý trực tiếp tại 11 nhà máy với hơn 9000 CB - CNV có trình độ và chuyên môn cao, cung cấp hàng ngàn sản phẩm chất lượng mỗi năm cho thị trường Nhật Bản, Châu Âu và Việt Nam.</p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-duration="500">
                        <div class="bg-image">
                            <div class="sub-content">
                                <div class="sub-content-item">
                                    <p><strong>8.000.000</strong> Sơ mi nam, nữ / năm</p>
                                    <p><strong>6.200.000</strong> Quần tây, Khaki nam, nữ / năm</p>
                                    <p><strong>900.000</strong> Veston nam, nữ / năm</p>
                                    <p><strong>5.500.000</strong> Giày thể thao / năm</p>
                                    <p><strong>8.000.000</strong> Đồ lót / năm</p>
                                    <p><strong>6.200.000</strong> Dệt Seamless / năm</p>
                                    <p><strong>3.500.000</strong> Các sản phẩm khác / năm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 70px 0" data-aos="fade-up" data-aos-duration="800">
                    <h3 class="text-center font-weight-bold">HỆ THỐNG CỬA HÀNG</h3>
                    <p class="text-center">Ra đời từ năm 2000, Thương hiệu thời trang nam cao cấp An Josh - Mark ngày càng khẳng định được chất lượng thể hiện trên từng sản phẩm. Đến nay, nhờ vào sự tín nhiệm của Quý khách hàng, Shop thời trang Josh tiếp tục phát triển với hệ thống hơn 160 cửa hàng sẵn sàng phục vụ Quý khách trải dài trên khắp Việt Nam.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="~/Images/suit-714357_1920.jpg"  />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="~/Images/dress-shop-97261_1920.jpg" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="~/Images/illuminated-advertising-219129_1920.jpg" />
                            </div>
                        </div>
                    </div>
                    <p class="text-center mt-5">Shop thời trang Josh vinh dự là đối tác chiến lược với Mark trong việc độc quyền phân phối sản phẩm phụ kiện thời trang Nam tại thị trường Việt Nam – Lào – Campuchia hơn 20 năm qua.</p>
                </div>
            </div>
        </div>
    </div>
</div>



